
html {
  min-height: 100%;
  position: relative;
}
body {
  background-color: #FBFBFD;
  margin: 0;
  margin-bottom: 40px;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;

}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.destacado {
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 767px) {
  .destacado {
    font-size: 1.2rem;
  }
}

/* Media Query para dispositivos móviles */
@media (max-width: 767px) {
  .card {
    flex-basis: 100%;
  }
}



.card-text--small {
    font-size: 0.8rem;
  }
  .card-title--medium{
    font-size: 0.9rem;
  }

    .card {
       border-radius: 10PX;
       border: none;
       box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-bottom: 10px;
        overflow: hidden;
       
    }

    .card-body {
        padding: 20px;
        text-align: left;
       
    }

    .card-body img {
      display: block;
      margin: 0 auto;
      width: 40%; /* establece un ancho fijo para todas las imágenes */
      height: 40%; /* establece una altura fija para todas las imágenes */
      object-fit: cover;
    }
    .imag2 img {
      display: inline-block;
      max-width: 160px;
      max-height: 220px;
      margin: 0;
    }

    .registro {
      background-color: #2CB742; /* Fondo del botón */
      color: #fff; /* Letra blanca */
      border: none; /* Sin borde */
      border-radius: 25px; /* Esquinas redondeadas */
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Sombra alrededor */
      padding: 12px 24px; /* Espacio interno del botón */
      font-size: 18px; /* Tamaño de letra */
      font-weight: bold; /* Negrita */
      text-transform: uppercase; /* Texto en mayúsculas */
      letter-spacing: 2px; /* Espacio entre letras */
      transition: transform 0.2s ease-in-out; /* Transición al pasar el ratón por encima */
      cursor: pointer; /* Cursor de tipo mano */
      outline: none;
    }
    
    .registro:hover {
      transform: translateY(-2px); /* Efecto de elevación al pasar el ratón por encima */
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2); /* Sombra más grande */
    }
    .registro:focus {
      outline: none; /* Elimina el borde de enfoque al hacer clic en el botón */
      }
    footer {
      background-color: #f2f2f2;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 40px;
      color: white;
   
    }
    
    nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-end;
      font-size: 10px;
      color: #999;
    }
    
    nav li {
      margin-left: 20px;
      color: #999;
    }
    
    nav a {
      color: #999;
      text-decoration: none;
      font-weight: bold;
    }
    
.text-footer {
  
      text-align: center;
      font-size: 10px;
      color: #999;
    }
    @media screen and (max-width: 600px) {
      nav ul {
        display: block;
        text-align: center;
      }
      nav li {
        display: inline-block;
        margin: 10px;
      }
    }
   