body {
    font-family: Arial, sans-serif;
    background-color: #FBFBFD;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0 auto;
  }
  

  .card {
    border-radius: 35PX;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 10px;
    overflow: hidden;
    max-width: 600px;
    width: 100%;
    margin: auto;
    align-items: center;
    display: block;
    margin: 0 auto;
    
 }

  

  h2 {
    text-align: center;
    color: #333333;
  }
  label {
    display: block;
    margin-bottom: 10px;
    color: #555555;
  }
  


  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 7px;
    font-size: 16px;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: auto;
   
  }
  input[type="text"]:focus, 
  input[type="email"]:focus, 

  input[type="password"]:focus {
    outline: none;
    border: 1px solid #2CB742; 
   
  }
  input[type="submit"] {
    background-color: #2CB742;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #70d37f;

  
    
  }

  footer {
    background-color: #f2f2f2;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
 
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    color: #999;
  }
  
  nav li {
    margin-left: 20px;
    color: #999;
  }
  
  nav a {
    color: #999;
    text-decoration: none;
    font-weight: bold;
  }
  
.text-footer {

    text-align: center;
    font-size: 10px;
    color: #999;
  }
  @media screen and (max-width: 600px) {
    nav ul {
      display: block;
      text-align: center;
    }
    nav li {
      display: inline-block;
      margin: 10px;
    }
  }
 