<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stilos_googlebar.css') }}">
    <title>Mis Archivos:</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">


    <link rel="stylesheet" href="https://unpkg.com/x-data-spreadsheet@1.1.5/dist/xspreadsheet.css">
    <script src="https://cdn.sheetjs.com/xlsx-latest/package/dist/xlsx.full.min.js"></script>
    <style>
        .card {
            border: 1px solid #e2e2e2;
            border-radius: 5px;
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
            margin-bottom: 10px;
            overflow: hidden;
        }

        .card-body {
            padding: 15px;
        }

        .card-img-top {
            width: 100%;
            height: 80px;
            object-fit: contain;
            padding-top: 10px;
        }
    </style>
        <script>
         function mostrarIframe(url) {
  const googleUrl = "https://docs.google.com/gview?url=";
  const encodedUrl = encodeURIComponent(url);
  const iframeUrl = googleUrl + encodedUrl + "&embedded=true";
  const iframe = document.createElement('iframe');
  iframe.setAttribute('src', iframeUrl);
  iframe.setAttribute('style', 'width: 100%; height: 500px; border: none;');
  document.getElementById('iframe-container').appendChild(iframe);
}
        </script>
</head>
<body>
  <div class="container">
    <h1 style="font-size: 2.5vw;">Control de mis finanzas:</h1>
    
    <div class="search-container">
        <form action="{{ url_for('buscar_archivos', folder='3105487076') }}" method="get">
            <div class="input-group">
                <input type="text" class="form-control" name="mes" placeholder="Buscar por mes...">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

        <div class="row">
            {{folder}}
            Ruta  {{ruta }}
          {% for archivo in archivos %}
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card">
              <img class="card-img-top" src="../static/icons/excel.png" alt="Archivo de Excel">
              <div class="card-body">
                <h5 class="card-title--medium">{{ archivo['name'] }}</h5>
                <h5 class="card-text--small">última modificación : {{ archivo['modified_time']}}</h5>
      

                <a href="{{ url_for('ver_archivo', archivo=archivo['file_path']) }}" class="btn btn-secondary  btn-sm">Ver no</a>
                        <a href="{{ url_for('descargar_archivo', archivo_name=archivo['name']) }}" class="btn btn-primary btn-sm">Descargar</a>
              </div>
            </div>
          </div>
          
    <iframe src="{{ url_for('ver_archivos', archivo=archivo['file_path']) }}"></iframe>
         
        </div>
        </div>
    </div>
    {% endfor %}
    <script>

function fetchArchivo(ruta) {
  console.log(ruta)
fetch("/ver_archivos/3105487076_ene-mar.xlsx")
  .then(response => response.arrayBuffer())
  .then(data => {
    const workbook = XLSX.read(data, {type: 'array'});
    const sheetName = workbook.SheetNames[0];
    const worksheet = workbook.Sheets[sheetName];
    const htmlTable = XLSX.utils.sheet_to_html(worksheet);
    document.getElementById('tabla-archivo').innerHTML = htmlTable;
  });}
     

    </script>

<div id="tabla-archivo"></div>
</body>
</html>
