<!DOCTYPE html>
<html>
<head>
	<title>Plantilla iCloud con Bootstrap</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/stilos.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">iCloud</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="#">Inicio</a>
				</li>
			
			</ul>
		</div>
	</nav>
	<div class="container-fluid text-center">
    
		<h1>Bienvenido a iCloud</h1>
		<p class="destacado">El mejor sistema para el control de tus finanzas. 
     </p>
	</div>

  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <div class="card-body ">
            
            <img src="../static/icons/whatsappfondo.png">
        
            <b> Controla el dinero desde tu Whatsapp</b><br>
            Con nuestro unico sistema, podrás monitorear facilmente tus finanzas desde cualquier lugar y en cualquier momento desde tu whatasapp.
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <img src="../static/icons/excelindex2.png">  
            <b> Controla el dinero desde tu Whatsapp</b><br>
            Con nuestro unico sistema, podrás monitorear facilmente tus finanzas desde cualquier lugar y en cualquier momento desde tu whatasapp.
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="imag2">
            <img  src="../static/icons/onedrive.png" >  <img src="../static/icons/pngwing.com.png"><br>
            <b> Controla el dinero desde tu Whatsapp</b><br>
            Con nuestro unico sistema, podrás monitorear facilmente tus finanzas desde cualquier lugar y en cualquier momento desde tu whatasapp.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"></script>
</body>
</html>
