<!DOCTYPE html>
<html>
<head>
	<title>NoteAir</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/stilos.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">NoteAir</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
			
				</li>
			
			</ul>
		</div>
	</nav>
	<div class="container-fluid text-center">
    
		<h1>Bienvenido a NoteAir</h1>
		<p class="destacado">El mejor sistema para el control de tus finanzas. 
     </p>
    </p> <button class="registro"  onclick="window.location.href='/registro'">Registrarse</button>  </p>  </p>
	</div>

  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <div class="card-body ">
            
            <img src="../static/icons/whatsappfondo.png">
        
            <b> Controla tus finanzas desde Whatsapp</b><br>
            No olvidarás ningun gasto y podrás mantener tu presupuesto al día de manera más eficiente Con la facilidad de enviar mensajes en Whatsapp.
           
          </div>
          
        </div>
       
      </div>
 

      <div class="col">
        <div class="card">
          <div class="card-body">
            <img src="../static/icons/excelindex2.png">  
            <b> Desde Whatsapp a Excel</b><br>
            Monitorea tus finanzas de una manera facil y práctica, nuestro sistema guardará la información en Excel de manera organizada y detallada. 
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="imag2">
            <img  src="../static/icons/onedrive.png" >  <img src="../static/icons/pngwing.com.png"><br>
            <b> Analiza y toma decisiones</b><br>
           Ten una visión de tus objetivos, toma decisiones informado y mantén el control de tus finanzas personales desde cualquier lugar.
            </div>
          </div>
        </div>
      </div>
    
    </div>

  </div>
  <footer>
    <nav>
      <ul class="text-footer">
        <li><a href="#">System Status</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms &amp; Conditions</a></li>
      </ul>
    </nav>
    <p class="text-footer">&copy; 2023 NoteAir. All rights reserved.</p>
  </footer>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"></script>
</body>
</html>
