<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/stilos.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>

    </style>
  </head>
  <body>
    <h1>Formulario de Registro</h1>
    <div class="container">
        <div class="card">
            <div class="card-body ">
    <form>
      <label>
        <span>Nombre:</span>
        <input type="text" name="nombre" required>
      </label>  <br>
      <label>
        <span>Correo electrónico:</span>
        <input type="email" name="email" required>
      </label>  <br>
      <label>
        <span>Teléfono:</span>
        <input type="tel" name="telefono" required>
      </label>  <br>
      <label>
        <span>Contraseña:</span>
        <input type="password" name="contrasena" required>
      </label>  <br>
      <input type="submit" value="Enviar">
    </form>
</div></div>
</div>
  </body>
</html>