<!DOCTYPE html>
<html>
<head>
	<title>Mi app de finanzas</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/resumen.css">
	<link rel="stylesheet" href="../static/stilos.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
</head>
<body>
    {% include 'navigation.html' %}


	<div class="container-fluid text-center">
		<br>    <br>    <br> 
		
		 </p>
		
		</div>


	<div class="container">
		<div class="box">
			<h2>Ingresos</h2>
			<p>$3,500,000</p>
		</div>
		<div class="box">
			<h2>Gastos</h2>
			<p>$1,200,000</p>
		</div>
		<div class="box">
			<h2>Ahorros</h2>
			<p>$2,300,000</p>
		</div>
	</div>

	<!-- Aquí puedes agregar el resto de tu contenido HTML -->
    {% include 'footer.html' %}
</body>
</html>
