<!DOCTYPE html>
<html>
<head>
	<title>Mi app de finanzas</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/resumen.css">
	<link rel="stylesheet" href="../static/stilos.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
</head>
<body>
    {% include 'navigation.html' %}


	<div class="container-fluid text-center">
		<br>    <br>    <br> 
		
		 </p>
		
		</div>


	<div class="container">
		<div class="box">
			<h2>Ingresos</h2>
			<canvas id="canvas_ingresos"></canvas>
			<h2>Ver Detalle</h2>
		</div>
		<div class="box">
			<h2>Gastos</h2>
			<canvas id="canvas_gastos"></canvas>
		</div>
		<div class="box">
			<h2>Ahorros</h2>
			<canvas id="canvas_ahorros"></canvas>
		
		</div>
	</div>

	<!-- Aquí puedes agregar el resto de tu contenido HTML -->
    {% include 'footer.html' %}

	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>

<script>
	const ctx = document.getElementById('canvas_ingresos');
  
	new Chart(ctx, {
	  type: 'line',
	  data: {
		labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio'],
		datasets: [{
		  label: 'Ingresos',
		  data: [1000, 2000, 1000, 4000, 2000, 6000],
		  borderWidth: 1,
		  borderColor: '#2CB742',
		}]
	  },
	  options: {
		scales: {
		  y: {
			beginAtZero: true
		  }
		}
	  }
	});

	const ctx2 = document.getElementById('canvas_gastos');
  
	new Chart(ctx2, {
	  type: 'line',
	  data: {
		labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio'],
		datasets: [{
		  label: 'Ingresos',
		  data: [1000, 2000, 1000, 4000, 2000, 6000],
		  borderWidth: 1,
		  borderColor: '#2CB742',
		}]
	  },
	  options: {
		scales: {
		  y: {
			beginAtZero: true
		  }
		}
	  }
	});
	const ctx3 = document.getElementById('canvas_ahorros');
  
	new Chart(ctx3, {
	  type: 'line',
	  data: {
		labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio'],
		datasets: [{
		  label: 'Ingresos',
		  data: [1000, 2000, 1000, 4000, 2000, 6000],
		  borderWidth: 1,
		  borderColor: '#2CB742',
		}]
	  },
	  options: {
		scales: {
		  y: {
			beginAtZero: true
		  }
		}
	  }
	});
  </script>
</html>
