<!DOCTYPE html>
<html>
<head>
	<title>NoteAir</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/stilosterm.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% include 'navigation.html' %}

        <div class="card-complete">
          
        <h1>Términos y Condiciones</h1>
        <p>Bienvenido a [nombre del sitio web], un sitio web diseñado para ayudarte a llevar un registro de tus gastos. Al utilizar nuestro sitio web, aceptas cumplir con los siguientes términos y condiciones:</p>
        <ol>
            <li>
                <h2>Uso del Sitio Web</h2>
                <p>Estás autorizado a utilizar nuestro sitio web para llevar un registro de tus gastos personales. No está permitido utilizar nuestro sitio web para fines comerciales o para recopilar información personal de otros usuarios sin su consentimiento.</p>
            </li>
            <li>
                <h2>Privacidad</h2>
                <p>Respetamos tu privacidad y nos comprometemos a proteger tus datos personales. Consulta nuestra política de privacidad para obtener más información sobre cómo recopilamos, utilizamos y protegemos tus datos.</p>
            </li>
            <li>
                <h2>Responsabilidades del Usuario</h2>
                <p>Eres responsable de mantener la seguridad de tu cuenta de usuario y de cualquier actividad que se realice con tu cuenta. No está permitido compartir tu cuenta con otros usuarios.</p>
            </li>
            <li>
                <h2>Limitación de Responsabilidad</h2>
                <p>Nos esforzamos por proporcionar información precisa y actualizada en nuestro sitio web, pero no garantizamos la exactitud o integridad de la información. No nos hacemos responsables de ningún daño o pérdida que pueda resultar del uso de nuestro sitio web o de la información que se proporciona en el mismo.</p>
            </li>
            <li>
                <h2>Modificaciones</h2>
                <p>Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento y sin previo aviso. Te recomendamos que consultes estos términos y condiciones regularmente para estar al tanto de cualquier cambio.</p>
            </li>
            <li>
                <h2>Ley Aplicable</h2>
                <p>Estos términos y condiciones se rigen por las leyes del país donde está registrado nuestro sitio web y cualquier disputa que surja en relación con estos términos y condiciones se resolverá exclusivamente en los tribunales competentes de ese país.</p>
            </li>
        </ol>
        <p>Al utilizar nuestro sitio web, aceptas cumplir con estos términos y condiciones. Si no estás de acuerdo con estos términos y condiciones, no utilices nuestro sitio web.</p>
    </div>

</div>

    {% include 'footer.html' %}


</body>
</html>