#file-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  #file-list li {
    margin: 0 10px;
  }
  
  #file-list img {
    height: 50px;
    margin-right: 10px;
  }
  div input[type="checkbox"],
  div span {
    display: inline-block;
    vertical-align: middle;
  }

  div span {
    margin-left: 5px;
  }
  a:hover {
    text-decoration: underline;
  }